* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background-color: #2C2825;
    color: #fff;
}

header {
    background-color: #1A1614;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

header h2 {
    font-size: 2rem;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.chat-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px); /* Adjust height to fit the viewport minus the header and input box */
    overflow: hidden; /* Prevent overflow */
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1; /* Take up remaining space in the chat container */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px; /* Add padding for better spacing */
    padding-bottom: 80px;
    box-sizing: border-box; /* Include padding in height calculations */
    scrollbar-width: none;
}

.messages ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.message {
    display: flex;
    padding: 20px;
    border-radius: 8px;
    flex-direction: column;
    box-shadow: #1A1614 0px 0px 10px;
}

.assistant-message {
    background-color: #2C2825;
    border: 1px solid #3D332F;
    align-self: flex-start;
    text-align: left;
}

.assistant-message a {
    color: #fff;
}

.assistant-message a:hover {
    color: #E67E22;
}

.user-message {
    background-color: #2C2825;
    color: #fff;
    border: 1px solid #3D332F;
    align-self: flex-end;
    text-align: right;
}

.input-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1A1614;
    padding: 20px;
}

.input-box {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.input-box input {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #3D332F;
    background-color: #2C2825;
    color: #fff;
    font-size: 16px;
    resize: none;
    height: 50px;
    outline: none;
}

.input-box input:focus {
    border-color: #3D332F;
}

.input-box select {
    border-radius: 8px;
    border: 1px solid #3D332F;
    background-color: #2C2825;
    color: #fff;
    font-size: 16px;
    height: 50px;
}


.send-button {
    background-color: #E67E22;
    color: white;
    border-radius: 8px;
    padding: 0 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

.send-button:hover {
    background-color: #D35400;
}

.send-button:disabled {
    background-color: #7F462C;
    cursor: not-allowed;
}

.recipe-choice {
    background-color: #2C2825;
    color: white; 
    border: 1px solid #3D332F;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px 0;
    display: block;
    text-align: left;
    width: 100%;
}

.recipe-choice:hover {
    background-color: #D35400; /* Darker orange on hover */
}

.recipe-choice:active {
    background-color: #A84300; /* Even darker orange when clicked */
}